<div class="modal exit-alert-modal hidden">
    <div class="content">
        <span tabindex="0" class="material-icons close"></span>
        <h2>{{ "Are you sure you would like to leave the scheduling process?"|t }}</h2>
        <p>{{ "All information will be lost."|t }}</p>
        <div class="form-actions alert-actions">
            <button tabindex="0" class="action-button dmgButton secondary3" id="stay-on-page">{{ "Stay on Page"|t }}</button>
            <button tabindex="0" class="action-button dmgButton primary3" id="leave-scheduling-process">{{ "Leave Scheduling Process"|t }}</button>
        </div>
    </div>
</div>