input[type="checkbox"] {
  display: none;
}

.label-toggle {
  display: block;
  font-size: 16px;
  text-align: start;
  padding: 0;
  color: $black;
  cursor: pointer;
  transition: all 0.25s ease-out;
  display: flex;
  align-items: center;
}

.collapsible-content .content-inner {
  padding: 0.5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .label-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .label-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
