<div class="emergency-alert immediate-care" id="immediate-care-alert">
	<div class="container">
		<div class="content">
			<i class="white-cros-icon"></i>
			<span class="message">
				{{ "Medical Emergencies:" |t }}
				<span class="bolded">{{ "Please call 911" |t }}</span>
				{{ "if you are experiencing a medical emergency."|t }}
			</span>
		</div>
	</div>
	<i class="material-icons close close-alert hidden" tabindex="0"></i>
</div>
