.appointmentMenu {
  &Outer {
    position: fixed;
    display: flex !important;
    justify-content: center !important;
    min-width: 1rem;
    height: 100%;
  }

  &IsCollapsed {
    & .appointmentMenuInner {
      top: 6.25rem;
    }
  }

  &IsOpen {
    & .appointmentMenuInner {
      top: 0;
    }
  }

  &Inner {
    position: absolute;
    display: flex !important;
    height: 8.25rem;
    cursor: default !important;
    transition: 0.3s ease;
  }
}

.appointmentMenuIsOpen .appointmentMenuInner {
  top: -0.49rem;
  margin-left: -4rem;
}
