@import "~@styles/colors.scss";
@import "~@styles/media-mixins.scss";
@import "~@styles/spacing-constants.scss";
@import "~@styles/typography.scss";
@import "~@styles/main.scss";

.Title {
  @include nexa-heavy-highlight;
  color: $dupage-dark-blue;
  font-weight: 900;
  font-size: var(--font-size-24px-4px);
  // line-height: 150%;

  &Inner {
    color: $dupage-blue;
  }
}

.LabsWrapper {
  display: flex;
  margin-top: 0.5rem;
  column-gap: 1.875rem;

  &Data {
    // width: 31.125rem;
    // width: 40%;
    flex: 1;

    &SavedLocation {
      margin-top: 2rem;

      &Heading {
        @include nexa-heavy-highlight;
        margin-bottom: 0.625rem;
        color: $dupage-dark-blue;
        font-weight: 900;
        font-size: var(--font-size-24px-4px);
        // line-height: 150%;
      }

      &Value {
        @include inter-text-default;
        margin-bottom: 0.625rem;
        font-size: var(--font-size-16px-4px);

        &Name {
          @include inter-h5-bold;
          margin: 0 0.125rem;
          color: $default-text;
          font-size: var(--font-size-18px-4px);
        }
      }

      &PrevBtn {
        @include inter-text-default-bold;
        margin-bottom: 0;
        color: $medium-red-violet;
        font-size: var(--font-size-16px-4px);
        // line-height: 1.41rem;
        text-decoration: underline;
        text-underline-offset: 0.125rem;
      }

      &NxtBtn {
        margin-top: 2.25rem;
        padding: 0.5rem 3.25rem;
        color: $white;
        font-size: var(--font-size-20px-4px);
        // line-height: 1.5rem;
        background: $dupage-dark-blue;
        border-radius: 0.5rem;
      }
    }
  }

  &Location {
    width: var(--map-container-size);

    &Map {
      // width: 30.5rem;
      width: 100%;
      height: 27.75rem;
      background-color: $light-gray;
    }

    &Data {
      margin-top: 1.5rem;
    }
  }
}

.labsError {
  &Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 63.5rem;
    height: 43.25rem;
  }
  &IconWrapper {
    width: 9rem;
    height: 9rem;
    img {
      width: 9rem;
      height: 9rem;
    }
  }
  &Title {
    @include nexa-heavy-highlight;

    margin-top: 1.5rem;
    color: $dupage-light-blue;
    font-size: var(--font-size-32px-4px);
    text-transform: capitalize;
  }
  &SubTitle {
    @include nexa-regular-highlight;
    padding: 0 3.25rem;
    color: $dark-gray;
    font-weight: 400;
    font-size: var(--font-size-24px-4px);
    line-height: 2.25rem;
    text-align: center;
  }
  &TryButton {
    @include nexa-extra-bold-highlight;
    display: flex;
    align-items: center;
    margin-top: 1.875rem;
    padding: 0.56rem 3.25rem;
    color: $white;
    font-weight: 800;
    font-size: var(--font-size-20px-4px);
    line-height: 1.5rem;
    text-align: center;
    background: $dupage-dark-blue;
    border-radius: 0.5rem;
  }
}
