<template id="html-content-template-recent-searches">
	<div class="search-history">
		<div class="header">{{ "Recent Searches"|t }}</div>
		<span class="clear">{{ "Clear"|t }}</span>
		<div class="list-of-recent-searches"></div>
	</div>
</template>

<template id="html-content-template-auto-complete">
	<div class="auto-complete">
		<div class="list-of-suggestions"></div>
	</div>
</template>
