{% include "_search-results/_bar.twig" %}
<div class="content">
    <div class="loading-spinner hidden">
        <div class="lottie"></div>
    </div>

    <div class="results">
        {% include "_search-results/_results.twig" %}
    </div>
</div>
