<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="duly.collaboration-view" value="https://pkgs.dev.azure.com/Next-Generation-Data-Platform/duly.app.v1.collaboration-view/_packaging/duly.collaboration-view/nuget/v3/index.json" />
    <add key="duly.digital" value="https://pkgs.dev.azure.com/Next-Generation-Data-Platform/_packaging/duly.digital/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>