[Unit]
Description=Updates Physician Cache information
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/var/www
IOSchedulingClass=idle

ExecStart=/usr/bin/php /var/www/craft scheduling-module/default/cache-physician-appointment-times

[Install]
WantedBy=multi-user.target