//Primary
$dupage-dark-blue: #002855;

//Secondary
$dupage-light-blue: #00a5df;
$dupage-light-blue-tint: #c7edff;
$accent-blue: #345aa3;
$dupage-blue: #00b2f0;
$dupage-icon-bg: #00b2f04d;

//Tertiary Pairs
$dupage-violet: #470a68;
$dupage-magenta: #c5299b;
$dupage-magenta-tint: #ffdaf5;
$dupage-orange: #ff6a14;
$dupage-saffron: #f2a900;
$dupage-deep-green: #004c45;
$dupage-green: #78be21;

//Tints with Opacity
$magenta-tint-opacity: #ffecfa;
$green-tint-opacity: #ebf6df;
$saffron-tint-opacity: #fff3d7;
$medium-gray-opacity: #d3d7dc;

//Text
$default-text: #0f172a;
$white: #ffffff;

//Grays
$alto-gray: #e0e0e0;
$dark-gray: #666e7d;
$dove-gray: #666666;
$medium-gray: #a8afb9;
$gray: #d6dbe0;
$light-gray: #eceef0;
$ghost-gray: #f3f6fa;
$mercury: #e5e5e5;
$chateau-gray: #a8afb9;
$gmail-black: #292929;
$gmail-grey: #5d5c5d;
$light-gray: #f4f7fa;

//Blue
$alice-blue: #fafdff;
$cornflower-blue: #bdbdbd;
$pattens-blue: #e0f0ff;
$cerulean-blue: #0da3d8;
$purple-heart-blue: #6140cb;
$light-blue: #aadef2;

//Reds
$dark-red: #be123c;
$medium-red-violet: #c5299b;
$light-violet: #ecbde0;

//Purple
$medium-purple: #6761dc;

//Alerts
$green-success: #00813b;
$yellow-warning: #fad306;
$red-error: #9f1239;

//Miscellaneous
$abbey: #4d5057;
$silver: #cccccc;
$light-silver: #c4c4c4;
$black: #000000;
$dark-cerulean: #1c4380;
$mabel: #d5f1ff;
$negroni: #ffdbc5;
$light-pink: #ede7f0;
$iron: #d4d7db;

//Tints
$magenta-tint: #ffdaf5;
$saffron-tint: #ffe7b0;
$deep-green-tint: #c1e4e1;
$green-tint: #d8edbe;
$orange-tint: #ffdbc5;
$violet-tint: #e3cdee;
$dark-blue-tint: #e5edfd;

//Legend
$normal-range: #f6f2f7;
$concerning-range: #eee6f1;
$low-range: #e7dfeb;
$brain-affecting-range: #ddd1e3;
