<div class="services-back-arrow-container">
    <div class="text">
        <a href="{{ url }}" class="back-link">
            <span class="material-icons arrow_back"></span>
            <span>{{ "Back"|t }}</span>
        </a>
    </div>
</div>