@import "~@styles/colors.scss";
@import "~@styles/typography.scss";

.schedulerScaleMarks {
  &Item {
    height: 15.625rem;
    padding: 0.25rem 0 0.5rem 0 !important;
    background: none !important;
    border: 0 !important;

    &:last-child {
      height: 0;
    }

    & div {
      display: flex !important;
      align-items: center !important;
    }

    &Division {
      flex: 1 0 0%;
      width: 100%;
      max-width: 6.25rem;
      color: $medium-gray;
      font-size: 1rem;
      line-height: 1.5rem;
      @include nexa-extra-bold-highlight;
    }

    &Line {
      z-index: 15;
      flex: 1 0 0%;
      width: 100%;
      border-top: 0.13rem dashed $medium-gray !important;
    }
  }
}
