<div class="modal email-success-modal hidden">
    <div class="content">
        <div class="header">
            <span tabindex="0" class="material-icons close"></span>
            <p><span class="material-icons check_circle"></span></p>
            <h2>{{ "Your appointment has been shared!"|t }}</h2>
        </div>
    </div>
</div>