/config/license.key
mutagen.yml.lock
config/saml/certs/*
/node_modules
/.env
/tests/.env
/.env-e
/.installed
/.idea
/vendor
.DS_Store
/config/plugins.yaml
/config/license.key
/config/.docker/certs
/rr
/rr.yaml
/web/report.html
/web/dist
/web/assets
/web/volumes
/xdebug*
config/osm/tileservergl/fonts
config/osm/tileservergl/tiles
config/osm/tileservergl/sprites
/saml
web/saml
/.deploy
yarn-error.log
/.vscode
config/.docker/keys
config/.docker/certs
config/osm/tileservergl/tiles/*.tiles