@import "~@styles/colors.scss";
@import "~@styles/media-mixins.scss";
@import "~@styles/spacing-constants.scss";
@import "~@styles/typography.scss";
@import "~@styles/main.scss";

.noOrder {
  &Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 43.18rem;
  }
  &IconWrapper {
    width: 14.5rem;
    height: 14.5rem;
    img {
      width: 14.5rem;
      height: 14.5rem;
    }
  }
    &Title {
      @include nexa-heavy-highlight;
  
      margin-top: 4.5rem;
      color: $dupage-magenta;
      font-size:var(--font-size-40px-4px);
      line-height: 2.625rem;
      text-transform: capitalize;
  }
}
