.locations-container {
	margin-bottom: 25px;

	@include responsive(medium) {
		hr {
			display: none;
		}
	}

	h3 {
		padding: 0px 24px;
		font-size: 18px;
		font-weight: 900;
		margin: 8px 0px;
		color: $forest;
	}

	.locations {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		* {
			box-sizing: border-box;
		}
		.location {
			display: flex;
			align-items: flex-start;
			width: 50%;
			padding: 1rem;
			
			&:hover {
				box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
				border-radius: 4px;
				background: $white;
			}

			@include responsive(medium) {
				width: 100%;
			}
			.location-icon {
				width: 1.25rem;
				img {
					width: 100%;
				}
			}
			.address {
				width: calc(100% - 1.25rem);
				padding: 0 0 0 1rem;
				p {
					margin: 0;
					&.area {
						color: $oxford;
						font-size: 18px;
						font-weight: 800;
						line-height: 22px;
					}
					&.sleepServiceLocation {
						color: $oxford;
						font-size: 12px;
						font-weight: 800;
					}
				}
				.phone-number {
					display: block;
					padding: 0.5rem 0;
					color: $violet;
					font-size: 16px;
					font-weight: 800;
					line-height: 22px;
				}
				a {
					&:hover {
						text-decoration: none;
					}
				}
			}
			.location-suite-details {
				border-top: 1px solid $light-gray;
			}
			.temporarilyClosed {
				color: $alert;
				font-size: 16px;
				font-weight: 800;
				line-height: 22px;
				margin: 0.5rem 0;
			}
			.nearestLocations {
				.nearestLocationsContainer {
					max-height: 0px;
					overflow: hidden;
					.nearestLocation {
						margin: 0 0 1rem 0;
						.title {
							display: flex;
							align-items: center;
							a {
								color: $oxford;
								font-weight: 800;
								&.loading {
									display: flex;
									align-items: center;
								}
								&:hover {
									color: $magenta;
									text-decoration: none;
								}
								.distanceIndicator {
									padding: 0 0 0 0.25rem;
									color: $oxford;
									font-size: 14px;
									font-weight: 600;
								}
							}
						}
						.location-icon {
							width: 0.75rem;
							margin: 0 0.25rem 0 0;
						}
						p {
							color: $dark-2;
							font-weight: 600;
						}
					}
				}
				&.active {
					.nearestLocationsContainer {
						max-height: unset;
					}
					.toggle {
						.material-icons {
							transform: scaleY(-1);
						}
					}
				}
			}
			.viewAllHours {
				.allHours {
					max-height: 0px;
					overflow: hidden;
					table {
						width: 100%;
						td {
							color: $dark-2;
							font-size: 16px;
							font-weight: normal;
							line-height: 22px;
							&:nth-child(1) {
								text-transform: capitalize;
								text-align: left;
							}
							&:nth-child(2) {
								text-align: right;
							}
						}
					}
				}
				&.active {
					.allHours {
						max-height: unset;
					}
					.toggle {
						.material-icons {
							transform: scaleY(-1);
						}
					}
				}
				p {
					margin: 0.5rem 0;
					font-weight: 600;
				}
			}
			.toggle {
				cursor: pointer;
				display: flex;
				align-items: center;
				color: $violet;
				font-size: 16px;
				font-weight: 800;
				line-height: 22px;
				margin: 0.5rem 0;
				.material-icons {
					color: $violet;
					font-size: 1.5rem;
					margin: 0 0.25rem;
				}
				&:hover {
					color: $magenta;
					.material-icons {
						color: $magenta;
					}
				}
			}
		}
	}
}
