.physicians-list-grid {
    .content-container {
        padding: 0px 30px;
    }

    h4 {
        font-size: 18px;
        font-weight: 900;
        line-height: 20px;
        margin: 8px 0px;
        padding: 0px 24px;
        color: $forest;
    }

    .physicians-list {
        display: flex;
        flex-wrap: wrap;

        .physician-short {
            text-align: center;
            width: 200px;
            margin-bottom: 50px;
            border: 1px solid transparent;
            padding: 16px;

            a {
                text-decoration: none;
            }

            &:hover {
                border: 1px solid #f8f8f8;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                background: $white;

                h5 {
                    color: $magenta;
                    text-decoration: underline;
                }

                .speciality-name {
                    color: $oxford;
                }

                .locations {
                    color: $oxford;
                }
            }

            @include responsive(medium) {
                margin-bottom: 20px;
                box-sizing: border-box;
                padding: 6px;
            }

            img {
                border-radius: 2px;
                width: 120px;
                height: 120px;
                max-width: 120px;
                max-width: 120px;
            }

            h5 {
                margin: 0;
                margin-top: 15px;
                font-size: 16px;
                font-weight: 900;
                color: $violet;
            }

            span {
                font-size: 13px;
                line-height: 18px;
                text-align: center;

                &.speciality-name, &.location-name {
                    &:after {
                        content: ", ";
                    }

                    &:last-child {
                        &:after {
                            content: " ";
                        }
                    }

                }

                &.speciality-name {
                    font-weight: 600;
                }
            }

            .speciality-name {
                color: $dark-2;
                font-size: 14px;
                font-weight: 800;
            }

            .locations {
                color: $dark-2;
                font-size: 14px;
                font-weight: normal;
            }

            .stars {
                justify-content: center;

                .rating-number {
                    color: $dark-2;
                    font-size: 18px;
                    font-weight: 900;
                    height: 20px;
                }

                .star-rating {
                    height: 20px;

                    .material-icons {
                        font-size: 20px;
                    }
                }

                @include responsive(large) {
                    .star-rating {
                        height: 16px;

                        .material-icons {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}