.contact-us-page {
	min-height: 500px;

	.dmgButton {
		border: 2px solid;
		border-radius: 0.25rem;
		color: $white;
		font-weight: bold;
		padding: 0;
		outline: none;
		cursor: pointer;
		font-size: 1.25rem;
		padding: 1rem 2rem;
		width: 100%;
		transform: perspective(500px) translate3d(0, 0, 1px);

		&:hover {
			text-decoration: none;
		}
		&:active {
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
			transform: perspective(500px) translate3d(0, 0, 0px);
		}

		&.primary1 {
			border-color: $oxford;
			background-color: $oxford;
			&:hover {
				background-color: #4c6888;
				border-color: #4c6888;
			}
		}
	}

	.intro {
		@include responsive(medium) {
			width: 100%;
		}

		a {
			text-decoration: none;

			div,
			span,
			p {
				color: $green !important;
			}

			&.white {
				color: $white !important;
			}

			&:hover {
				text-decoration: underline !important;
			}
		}
	}

	.container {
		max-width: 800px;
		width: 100%;
		margin: 50px auto;
		padding: 40px;

		.contact-pattern {
			width: 50vw;
			height: 95vh;
			background: url("/dist/img/pattern-pink.svg");
			background-repeat: no-repeat;
			background-position: top left;
			position: absolute;
			z-index: -1;
			right: 0;
			bottom: -60vh;
		}

		@include responsive(medium) {
			width: calc(100% - 16px);
			margin: 25px 8px;
			padding: 15px;
		}

		#form {
			margin: 0 auto;

			@include responsive(medium) {
				width: 100%;
			}

			h1 {
				font-size: 32px;
				font-weight: bold;
				margin: 0px;
				line-height: 36px;
			}

			.mc-field-group {
				margin: 24px 0px;
			}

			.mdc-form-field {
				width: calc(100% - 10px);
				margin-left: -10px;
			}

			.mdc-form-field > label {
				padding-left: 0px !important;
			}
		}

		.contact-us-page .container #mc_embed_signup .mc-field-group {
			margin: 24px 0;
		}

		.submit-button {
			font-size: 22px;
			background: $oxford;
			border-radius: 4px;
			color: $white;
			width: 100%;
			border: transparent;
			padding: 15px;
			font-weight: 600;
		}
	}

	.error {
		color: $error-red;
		text-align: center;
		width: 100%;
		display: block;
		margin: 10px auto;
	}
}
