.news-page {
    min-height: 500px;
    display: block;

    .news-section {
        max-width: 880px;
        width: 100%;
        margin: 25px auto;
        border-radius: 4px;
        background: $white;

        .no-results {
            border-top: 1px solid $warm-gray;
            font-size: 28px;
            margin: 0px;
            padding: 25px 0px;
            text-align: center;
        }

        @include responsive(bs-large) {
            max-width: 95%;
        }

        h1 {
            font-size: 28px;
            font-weight: bold;
            line-height: 30px;
            padding: 16px 40px;
            margin: 0px;
            color: $oxford;
        }

        hr {
            margin: 0px;
            width: 100%;
            border: 1px solid $sky;
        }

        a {
            border-bottom: 1px solid $sky;
            background: $white;
            display: block;
            text-decoration: none;
            cursor: pointer;

            &:first-of-type {
                border-top: 2px solid $sky;
            }

            &:last-child {
                border-bottom: 2px solid $sky;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            &:hover {
                background: $off-blue;
            }
        }

        .content {
            padding: 16px 40px;

            .title {
                font-size: 18px;
                font-weight: 800;
                line-height: 20px;
                color: $oxford;
                margin: 0px;
            }

            .date {
                margin: 0px;
                font-size: 14px;
                line-height: 20px;
            }

            .summary {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 0;
            }
        }
    }

    .pagination {
        text-align: center;

        a {
            &.pagination-link {
                color: $oxford !important;

                &.is-current {
                    color: $white !important;
                    background-color: $sky !important;
                }
            }

            &.pagination-text-link {
                color: $oxford !important;
            }
        }
    }
}