@import "~@styles/colors.scss";
@import "~@styles/media-mixins.scss";
@import "~@styles/spacing-constants.scss";
@import "~@styles/typography.scss";
@import "~@styles/main.scss";

.appointmentsContainer {
  margin-top: 2rem;
}

.nextBtnContainer {
  margin-top: 2.8125rem;
}

.nextBtn {
  padding: 0.5rem 3.25rem;

  color: white;

  font-weight: 800;

  font-size: 1.25rem;

  line-height: 1.5rem;

  background: none;

  background-color: $dupage-dark-blue;

  border: none;

  border-radius: 0.5rem;
}

.followUpError {
  &Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 63.5rem;
    height: 43.25rem;
  }
  &IconWrapper {
    width: 9rem;
    height: 9rem;
    img {
      width: 9rem;
      height: 9rem;
    }
  }
  &Title {
    @include nexa-heavy-highlight;

    margin-top: 1.5rem;
    color: $dupage-light-blue;
    font-size: var(--font-size-32px-4px);
    text-transform: capitalize;
  }
  &SubTitle {
    @include nexa-regular-highlight;
    padding: 0 3.25rem;
    color: $dark-gray;
    font-weight: 400;
    font-size: var(--font-size-24px-4px);
    line-height: 2.25rem;
    text-align: center;
  }
  &TryButton {
    @include nexa-extra-bold-highlight;
    display: flex;
    align-items: center;
    margin-top: 1.875rem;
    padding: 0.56rem 3.25rem;
    color: $white;
    font-weight: 800;
    font-size:  var(--font-size-20px-4px);
    line-height: 1.5rem;
    text-align: center;
    background: $dupage-dark-blue;
    border-radius: 0.5rem;
  }
}
