.ratings-container {
  width: 100%;
  margin-bottom: 60px;
  margin-top: 60px;

  h2 {
    font-size: 20px;
    padding: 15px 25px;
    margin: 0;
    line-height: 20px;
    color: $violet;
    font-weight: 800;
  }

  h3 {
    font-size: 18px;
    font-weight: 800;
    margin: 0;
    padding: 25px 25px 8px;
    color: $dark-2;
  }

  hr {
    border: none;
    border-bottom: 2px solid $magenta;
    width: 100%;
    margin: 0;
  }

  .ratings-disclaimers {
    display: flex;
    flex-direction: column;
    padding: 0 25px;

    span {
      margin: 0;
      color: $dark-2;
      font-weight: normal;
    }
  }

  .bold {
    font-weight: bold;
  }

  .ratings {
    margin-top: 25px;
    padding: 0 25px;

    .satisfaction-rating {
      margin-bottom: 25px;

      h3 {
        font-size: 18px;
        font-weight: 800;
        padding: 0;
        line-height: 20px;
      }
      .rating-number {
        font-size: 29px;
      }
      .count {
        font-size: 16px;
      }
      i.material-icons {
        font-size: 25px;
      }
    }

    .other-ratings {
      display: flex;
      flex-wrap: wrap;

      .other-rating {
        flex-basis: 50%;
        margin-bottom: 20px;

        @include responsive(large) {
          flex-basis: 100%;
        }

        .stars {
          padding: 0;
        }

        h3 {
          font-size: 18px;
          font-weight: 700;
          padding: 0;
          line-height: 22px;
        }
        .rating-number {
          font-size: 20px;
          margin-top: 10px;
        }
        .count {
          font-size: 14px;
        }
      }
    }
  }
}
