<div class="details-navigation clinical-expertise">
	{% if showProcedures or showConditions or showTreatmentStyles %}
		<div class="nav-item">
			<h2>{{ "Clinical Expertise"|t }}</h2>
		</div>
	{% endif %}
</div>
